In [1]:
import pandas as pd
import numpy as np
from banyan_sigma_wrapper import banyan_sigma_wrapper
import time

In [11]:
start_time = time.time()
output_all_obj = banyan_sigma_wrapper('AWI0005x3s',None,122.09242555493,-64.73257243033,-11.539,25.615,0.118,0.100,22.7,0.5,9.8599,0.0551)
end_time = time.time()

print('Total runtime:',end_time - start_time)
print(output_all_obj)

output_all_obj_data = output_all_obj.values
type(output_all_obj_data)
#type(output_all_obj)
print(output_all_obj_data)

output_list = ['AWI0005x3s']

for entry in output_all_obj_data[0]:
    output_list.append(str(entry))
    
print(output_list)

output_string = ''

for entry in output_list:
    output_string = output_string+entry+','
    
output_string = output_string[:-1]
print(output_string)

C:\Users\Steven Silverberg\Anaconda2\envs\py36\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Steven Silverberg\Downloads\banyan_sigma-master\banyan_sigma-master\banyan_sigma_wrapper.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  output_all.loc[0] = probs_formatted

   118TAU  ABDMG  BPMG   CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  95.1   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0    4.8

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    22.7   22.7  22.7  22.7  22.7  22.7  22.7  22.7  22.7  22.7  ...    22.7

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  22.7  22.7  22.7  22.7  22.7  22.7  22.7  22.7   22.7

[1 rows x 28 columns]
Total runtime: 1.2559149265289307
   118TAU  ABDMG  BPMG   CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  95.1   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0    4.8

[1 rows x 28 columns]
[[  0.    0.    0.   95.1   0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.1   0.    0.    0.    0.    0.    0.    0.    0.    0.    0.
    0.    0.    0.    4.8]]
['AWI0005x3s', '0.0', '0.0', '0.0', '95.1', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.1', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '0.0', '4.8']
AWI0005x3s,0.0,0.0,0.0,95.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.8

In [22]:
df = pd.read_csv('GaiaXMatch_2018-07-05-banyansigma-test.csv',low_memory=False)

data = df.values

num_objs = data.shape[0]
print(num_objs)

f = open('outputfile.csv','w')

f.write('Name,118TAU,ABDMG,BPMG,CAR,CARN,CBER,COL,CRA,EPSC,ETAC,HYA,IC2391,IC2602,LCC,OCT,PL8,PLE,ROPH,TAU,THA,THOR,TWA,UCL,UCRA,UMA,USCO,XFOR,FIELD\n')

start_time = time.time()

for i in range(num_objs):
    data_row = data[i,:]
    #print(data_row)
    output_res = banyan_sigma_wrapper(str(data_row[0]),None,data_row[1],data_row[2],data_row[3],data_row[4],data_row[5],data_row[6],data_row[7],data_row[8],data_row[9],data_row[10])
    #print(output_res)
    output_data = output_res.values[0]
    output_string = str(data_row[0])
    for entry in output_data:
        output_string = output_string + ',' + str(entry)
        
    f.write(output_string + '\n')
    print(i+1,time.time()-start_time, (time.time() - start_time)/float(num_objs))
    
f.close()

#test = np.zeros((2,3))

#print(test.shape[0])

11

C:\Users\Steven Silverberg\Anaconda2\envs\py36\lib\site-packages\pandas\core\indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Steven Silverberg\Downloads\banyan_sigma-master\banyan_sigma-master\banyan_sigma_wrapper.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  output_all.loc[0] = probs_formatted

   118TAU  ABDMG  BPMG  CAR  CARN  CBER   COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  83.5  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   16.5

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    21.8   21.8  21.8  21.8  21.8  21.8  21.8  21.8  21.8  21.8  ...    21.8

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  21.8  21.8  21.8  21.8  21.8  21.8  21.8  21.8   21.8

[1 rows x 28 columns]
1 1.2078819274902344 0.10980744795365767
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    30.1   30.1  30.1  30.1  30.1  30.1  30.1  30.1  30.1  30.1  ...    30.1

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  30.1  30.1  30.1  30.1  30.1  30.1  30.1  30.1   30.1

[1 rows x 28 columns]
2 2.119123697280884 0.1926476088437167
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    29.1   29.1  29.1  29.1  29.1  29.1  29.1  29.1  29.1  29.1  ...    29.1

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  29.1  29.1  29.1  29.1  29.1  29.1  29.1  29.1   29.1

[1 rows x 28 columns]
3 3.060041666030884 0.2781856060028076
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    23.6   23.6  23.6  23.6  23.6  23.6  23.6  23.6  23.6  23.6  ...    23.6

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  23.6  23.6  23.6  23.6  23.6  23.6  23.6  23.6   23.6

[1 rows x 28 columns]
4 4.009765386581421 0.36452412605285645
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    25.4   25.4  25.4  25.4  25.4  25.4  25.4  25.4  25.4  25.4  ...    25.4

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  25.4  25.4  25.4  25.4  25.4  25.4  25.4  25.4   25.4

[1 rows x 28 columns]
5 4.916671991348267 0.4469701810316606
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    19.2   19.2  19.2  19.2  19.2  19.2  19.2  19.2  19.2  19.2  ...    19.2

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  19.2  19.2  19.2  19.2  19.2  19.2  19.2  19.2   19.2

[1 rows x 28 columns]
6 5.824457406997681 0.52949612790888
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    24.6   24.6  24.6  24.6  24.6  24.6  24.6  24.6  24.6  24.6  ...    24.6

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  24.6  24.6  24.6  24.6  24.6  24.6  24.6  24.6   24.6

[1 rows x 28 columns]
7 7.1533026695251465 0.6503002426841042
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     2.7    2.7   2.7  2.7   2.7   2.7  2.7  2.7   2.7   2.7  ...    2.7

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  2.7   2.7  2.7  2.7   2.7  2.7   2.7   2.7    2.7

[1 rows x 28 columns]
8 8.875508069992065 0.8068643699992787
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  0.0   0.0  0.0   0.0   0.0   99.9

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    41.8   41.8  41.8  41.8  41.8  41.8  41.8  41.8  41.8  41.8  ...    41.8

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  41.8  41.8  41.8  41.8  41.8  41.8  41.8  41.8   41.8

[1 rows x 28 columns]
9 9.980889558792114 0.9073535962538286
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0  99.7  0.0  0.0   0.0  0.0   0.0   0.0    0.3

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG   CAR  CARN  CBER   COL   CRA  EPSC  ETAC  ...     TAU  \
0    18.6   18.6  18.6  18.6  18.6  18.6  18.6  18.6  18.6  18.6  ...    18.6

    THA  THOR   TWA   UCL  UCRA   UMA  USCO  XFOR  FIELD
0  18.6  18.6  18.6  18.6  18.6  18.6  18.6  18.6   18.6

[1 rows x 28 columns]
10 11.151626586914062 1.0137842351740056
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     0.0    0.0   0.0  0.0   0.0   0.0  0.0  0.0   0.0   0.0  ...    0.0

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  0.0   0.0  0.0  2.8   0.0  0.0   0.0   0.0    1.2

[1 rows x 28 columns]
   118TAU  ABDMG  BPMG  CAR  CARN  CBER  COL  CRA  EPSC  ETAC  ...    TAU  \
0     8.2    8.2   8.2  8.2   8.2   8.2  8.2  8.2   8.2   8.2  ...    8.2

   THA  THOR  TWA  UCL  UCRA  UMA  USCO  XFOR  FIELD
0  8.2   8.2  8.2  8.2   8.2  8.2   8.2   8.2    8.2

[1 rows x 28 columns]
11 12.332937240600586 1.1211761127818713